
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    bottom: auto;
    color: black;
}

@font-face {
    font-family: "gabarito";
    src: url(../font/gabarito.ttf)
}

@font-face {
    font-family: "roboto";
    src: url(../font/roboto.ttf)
}

.text{
    padding-inline: 4rem;
    text-align: left;
    font-family: "roboto";
    order: 1;
}

.tit{
    text-align: center;
    font-family: "gabarito";
    color: #F08575;
    padding-top: 1rem;
}

.tit.sec{
    color: #FBBE5B;
}

main{
    background-image: url(../img/fondoweb3.png);
}

.cuerpo{
    display: flex;
    padding: 2rem;
}

.frente{
    width: 40%;
    order: 0;
}

.sub{
    color: #3B509F;
    font-family: "roboto";
    padding-top: 0;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
}
.encabezado {

    background-image: url(../img/fondoheader7.png);
    padding-inline: 2rem;
    
    display: flex;
    flex-direction: row;
    
    position: sticky;
    top: 0;

    z-index: 999999999;
}
    
    
    
.nav{
    display: flex;
    align-items: center;
}
    
.menu{
    list-style-type: none;
    display: flex; 
    padding-left: 6rem;
    flex-direction: row ; 
    flex-wrap: wrap; 
    gap: 3rem; 
}
    
.menu-item{
    font-family: "roboto";
    size-adjust: 1rem;    
}
    
.menu-item.active{
    text-decoration: underline double;
    color:#F08575
}
    
.menu-item:hover{
    text-decoration: underline double;
}

.logo1{
    height: 5rem;
}

.iconos{
    display: flex;
}
.rs{
    height: 3rem;
    padding: 0.5rem;
}

.titulo7{
    margin: 2rem;
    background-color: red;
    font-family: "roboto";
}

.titulo7:hover{
    background-color: pink;
}

.link{
    padding: 4rem;
    background-color: bisque;
}

.input{
    border-radius: 0px;
    margin-inline: 5rem;
}

/* -----GRID Salas */

.fotosum{
    margin-block: 1rem;
    width: 100%;
    height: 70vh;
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img1 img2 img3"
    "img1 img4 img3";
    grid-gap: 0.5rem;
}

.img{
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.img1{
    background-image: url(../img/sum/sum.png);
    grid-area: img1;
}
.img2{
    background-image: url(../img/sum/sum2.png);
    grid-area: img2;
}
.img3{
    grid-area: img3;
    background-image: url(../img/sum/sum3.png);
}
.img4{
    grid-area: img4;
    background-image: url(..//img/sum/sum4.png);
}

.fotoamarilla{
    margin-block: 1rem;
    width: 100%;
    height: 70vh;
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img5 img6 img7"
    "img5 img8 img9";
    gap: 0.5rem;
}

.img5{
    grid-area: img5;
    background-image: url(../img/sala-amarilla/18.png);
}
.img6{
    grid-area: img6;
    background-image: url(../img/sala-amarilla/17.png);
}
.img7{
    grid-area: img7;
    background-image: url(../img/sala-amarilla/19.png);
}
.img8{
    grid-area: img8;
    background-image: url(../img/sala-amarilla/20.png);
}
.img9{
    grid-area: img9;
    background-image: url(../img/sala-amarilla/21.png);
}
.fotosiesta{
    margin-block: 1rem;
    width: 100%;
    height: 70vh;
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img10 img11 img12"
    "img10 img11 img13";
    gap: 0.5rem;
}

.img10{
    grid-area: img10;
    background-image: url(../img/sala-siesta/16.png);
}
.img11{
    grid-area: img11;
    background-image: url(../img/sala-siesta/15.png);
}
.img12{
    grid-area: img12;
    background-image: url(../img/sala-siesta/14.png);
}
.img13{
    grid-area: img13;
    background-image: url(../img/sala-siesta/13.png);
}


.foto.nos{
    height: 15rem;
    border: solid 4px pink;
    order: 2;
    border-radius: 1rem;
}


.divbanner{
    justify-content: center;
    align-content: center;
    padding-left: 10%;
    padding-block: 2rem;
}
.banner{
    width: 80%;
}
.pie{
    background-color: #696464;
    border-top: white 2px;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    gap:4rem;
}

.pie1{
    display: flex;
    align-items: center;
    
}

.logo2{
    height: 4rem;
}

.txtpie{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

/*------------ Contacto/Inscripción------------*/

.form{
    font-family: "roboto";
    border: solid #F08575 8px;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 3% 20%;
}
.form-group{
    padding-bottom: 1.5rem;
}
.comentario{
    align-content: center;
}

/* -----------Responsive----------------- */

@media screen and (max-width:840px)   {
    
    .logo1{
        height: 4rem;
    }
    
    .cuerpo{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .frente{
        width: 100%;
        flex: 1;
    }
    .text{
        padding-inline: 0;
        flex-wrap: wrap;
    }
    .fotosum{
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        height: 250vh;
    }
    .img{
        flex: 1;
    }
    .fotoamarilla{
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        height: 250vh;
    }
    .fotosiesta{
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        height: 250vh;
    }
    .divbanner{
        padding: 0;
    }
    .banner{
        width: 100%;
        padding: 0;
    }
    
    
}