@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  bottom: auto;
  color: black;
}

@font-face {
  font-family: "gabarito";
  src: url(../font/gabarito.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../font/roboto.ttf);
}
@font-face {
  font-family: "handle";
  src: url(../../font/handle.ttf);
}
.encabezado {
  background-image: url(../img/fondoheader7.png);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999999999;
}
.encabezado .logo1 {
  height: 5rem;
}
.encabezado .menu {
  list-style-type: none;
  display: flex;
  padding-left: 12rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.encabezado .menu .menu-item {
  font-family: "roboto";
  size-adjust: 1rem;
  transition: 1s;
}
.encabezado .menu .menu-item.active {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  color: #F08575;
}
.encabezado .menu .menu-item:hover {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
  transform: scale(1.1);
}

.text {
  padding-inline: 4rem;
  text-align: left;
  font-family: "roboto";
  order: 1;
}

.tarjeta__txt {
  font-family: "roboto";
  text-align: center;
  padding-inline: 1rem;
}

.tit {
  text-align: center;
  font-family: "gabarito";
  color: #F08575;
  padding-top: 1rem;
}

.tarjeta__tit {
  text-align: center;
  font-family: "gabarito";
  color: #F08575;
  padding-top: 0.5rem;
  padding-inline: 0.5rem;
}

.tit.sec {
  color: #FBBE5B;
}

.sub {
  color: #3B509F;
  font-family: "handle";
  padding-top: 0;
  text-align: center;
}

main {
  background-image: url(../img/fondoweb3.png);
  flex-grow: 1;
}
main .cuerpo {
  display: flex;
  padding: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tarjeta__cuerpo {
  border-radius: 1.5rem;
  padding-bottom: 0.5rem;
  margin-block: 0.5rem;
  border-radius: 1.5rem;
  background-color: rgb(247, 247, 247);
  font-size: 0.9rem;
}

.tarjeta__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1.5rem;
  background-color: rgb(160, 160, 160);
}

.frente {
  width: 40%;
  order: 0;
  border: solid 10px #D1B5E5;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* -----GRID Salas */
.fotosum {
  margin-block: 1rem;
  width: 100%;
  height: 70vh;
  padding-inline: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2 img3" "img1 img4 img3";
  grid-gap: 0.5rem;
}
.fotosum .img1 {
  background-image: url(../img/sum/sum.png);
  grid-area: img1;
}
.fotosum .img2 {
  background-image: url(../img/sum/sum2.png);
  grid-area: img2;
}
.fotosum .img3 {
  grid-area: img3;
  background-image: url(../img/sum/sum3.png);
}
.fotosum .img4 {
  grid-area: img4;
  background-image: url(..//img/sum/sum4.png);
}

.img {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.img:hover {
  transform: scale(1.08);
  transition: 1s;
}

.fotoamarilla {
  margin-block: 1rem;
  width: 100%;
  height: 70vh;
  padding-inline: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img5 img6 img7" "img5 img8 img9";
  gap: 0.5rem;
}
.fotoamarilla .img5 {
  grid-area: img5;
  background-image: url(../img/sala-amarilla/18.png);
}
.fotoamarilla .img6 {
  grid-area: img6;
  background-image: url(../img/sala-amarilla/17.png);
}
.fotoamarilla .img7 {
  grid-area: img7;
  background-image: url(../img/sala-amarilla/19.png);
}
.fotoamarilla .img8 {
  grid-area: img8;
  background-image: url(../img/sala-amarilla/20.png);
}
.fotoamarilla .img9 {
  grid-area: img9;
  background-image: url(../img/sala-amarilla/21.png);
}

.fotosverde {
  display: grid;
  margin-block: 1rem;
  width: 100%;
  height: 70vh;
  padding-inline: 4rem;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img14 img17 img15" "img14 img17 img16";
  gap: 0.5rem;
}
.fotosverde .img14 {
  grid-area: img14;
  background-image: url(../img/sala-verde/verde1.png);
}
.fotosverde .img15 {
  grid-area: img15;
  background-image: url(../img/sala-verde/verde2.jpg);
}
.fotosverde .img16 {
  grid-area: img16;
  background-image: url(../img/sala-verde/verde3.png);
}
.fotosverde .img17 {
  grid-area: img17;
  background-image: url(../img/sala-verde/verde4.png);
}

.fotosiesta {
  margin-block: 1rem;
  width: 100%;
  height: 70vh;
  padding-inline: 4rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img10 img11 img12" "img10 img11 img13";
  gap: 0.5rem;
}
.fotosiesta .img10 {
  grid-area: img10;
  background-image: url(../img/sala-siesta/16.png);
}
.fotosiesta .img11 {
  grid-area: img11;
  background-image: url(../img/sala-siesta/15.png);
}
.fotosiesta .img12 {
  grid-area: img12;
  background-image: url(../img/sala-siesta/14.png);
}
.fotosiesta .img13 {
  grid-area: img13;
  background-image: url(../img/sala-siesta/13.png);
}

.tarjetas {
  justify-content: center;
  text-align: center;
  padding-block: 1rem;
}

.tarjeta {
  width: 70%;
  border-radius: 10rem;
  justify-content: center;
  transition: 1s;
}

.tarjeta:hover {
  transform: scale(1.15);
}

.foto {
  height: 15rem;
  border: solid 4px #F08575;
  border-radius: 1rem;
}

.divbanner {
  justify-content: center;
  align-content: center;
  padding-left: 10%;
  padding-block: 2rem;
}
.divbanner .banner {
  width: 80%;
}

.pie {
  background-color: #696464;
  border-top: white 2px;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  gap: 4rem;
}
.pie .pie1 {
  display: flex;
  align-items: center;
}
.pie .logo2 {
  height: 4rem;
}
.pie .txtpie {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: small;
}

/*------------ Contacto/Inscripción------------*/
.form {
  font-family: "roboto";
  border: solid #F08575 8px;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 3% 20%;
}
.form .form-group {
  padding-bottom: 1.5rem;
}
.form .comentario {
  align-content: center;
}

/* -----------Responsive----------------- */
@media screen and (max-width: 840px) {
  .logo1 {
    height: 4rem;
  }
  main {
    background-size: contain;
  }
  .cuerpo {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .frente {
    width: 90%;
    flex: 1;
  }
  .text {
    padding-inline: 0;
    flex-wrap: wrap;
  }
  .fotosum {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    height: 250vh;
  }
  .img {
    flex: 1;
  }
  .fotoamarilla {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    height: 250vh;
  }
  .fotosiesta {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    height: 250vh;
  }
  .fotosverde {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    height: 250vh;
  }
  .foto.cui {
    order: 2;
  }
  .text.cui {
    order: 1;
  }
  .divbanner {
    padding: 0;
  }
  .banner {
    width: 100%;
    padding: 0;
  }
  .tarjeta {
    width: 50%;
  }
  .encabezado {
    background-image: url(../../img/fondoheadercel.png);
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */