main {
  background-image: url(../img/fondoweb3.png);
  background-size: cover;       // ajusta y recorta si hace falta
  background-position: center;  // centra la imagen
  background-repeat: no-repeat; // no repetir
  min-height: 100vh;            // alto mínimo = alto de la pantalla
  flex-grow: 1;

  .cuerpo {
    display: flex;
    padding: 2rem;
  }
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.tarjeta__cuerpo{
    border-radius: 1.5rem;
    padding-bottom: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 1.5rem;
    background-color: rgb(247, 247, 247);
    font-size: 0.9rem;
}


.tarjeta__info{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1.5rem;
    background-color: rgb(160, 160, 160);
}
