@font-face {
    font-family: "gabarito";
    src: url(../font/gabarito.ttf)
}

@font-face {
    font-family: "roboto";
    src: url(../font/roboto.ttf)
}
@font-face {
    font-family: "handle";
    src: url(../../font/handle.ttf);
}