.pie{
    background-color: #696464;
    border-top: white 2px;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    gap:4rem;

    .pie1{
        display: flex;
        align-items: center;
        
    }
    
    .logo2{
        height: 4rem;
    }
    
    .txtpie{
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: small;
    }
}




