/*------------ Contacto/Inscripción------------*/

.form{
    font-family: "roboto";
    border: solid #F08575 8px;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 3% 20%;

    .form-group{
        padding-bottom: 1.5rem;
    }

    .comentario{
        align-content: center;
    }
}
