.text{
    padding-inline: 4rem;
    text-align: left;
    font-family: "roboto";
    order: 1;
}

.tarjeta__txt{
    font-family: "roboto";
    text-align: center;
    padding-inline: 1rem;
}

.tit{
    text-align: center;
    font-family: "gabarito";
    color: $maincolor;
    padding-top: 1rem;
}

.tarjeta__tit{
    text-align: center;
    font-family: "gabarito";
    color: $maincolor;
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
}

.tit.sec{
    color: $seccolor;
}

.sub{
    color: $tercolor;
    font-family: "handle";
    padding-top: 0;
    text-align: center;
}
