.text{
    padding-inline: 4rem;
    text-align: left;
    font-family: "roboto";
    order: 1;
}

.txttarj{
    font-family: "roboto";
    text-align: center;
    padding-inline: 1rem;
}

.tit{
    text-align: center;
    font-family: "gabarito";
    color: #F08575;
    padding-top: 1rem;
}

.tit.sec{
    color: #FBBE5B;
}

.sub{
    color: #3B509F;
    font-family: "roboto";
    padding-top: 0;
    text-align: center;
}
